.films {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-gap: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  //overflow: hidden;
  justify-items: flex-start;

  &__card {
    max-width: 265px;
    width: 100%;
    height: 100%;
    //overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 1px solid white;
    //transition: 0.2s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      z-index: 55;
      box-shadow: 8px 5px 14px black;
    }

    &.loading {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    & a {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-decoration: none;
      color: #c7c7c7;
      position: relative;
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }
    & svg {
      bottom: -1px;
      width: 100%;
      right: 0;
      position: absolute;
    }
  }

  &__information {
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #1b1b1b;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;

    & p {
      color: #c7c7c7;
      text-align: left;
      font-size: 13px;
      &:last-child {
        margin-bottom: auto;
      }
    }

    & h2 {
      font-size: clamp(14px, 2vw, 18px);
      letter-spacing: -1px;
      width: 100%;
      color: #c7c7c7;
      text-align: left;
      text-transform: uppercase;
    }
  }

  &__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;

    & .MuiSvgIcon-root {
      margin-right: 3px;
      margin-left: 10px;
      font-size: 16px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.59);

  &__wrapper {
    position: absolute;
    top: 2%;
    left: 2%;
    right: 2%;
    bottom: 2%;
    border: 1px solid white;
    background: black;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 1px;
    & button{
      font-size: 11px;
      margin: 30px 10px 20px auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: white;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: 1px solid white;
    }
  }
}

body.ReactModal__Body--open {
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .films {
    grid-template-columns: repeat(6, 1fr);
  }
  .films__information h2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .films {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 990px) {
  .films {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 690px) {
  .films {
    grid-template-columns: repeat(3, 1fr);
  }
  .films__information h2 {
    font-size: 13px;
  }
  .films__information p {
    font-size: 11px;
  }
}
@media screen and (max-width: 480px) {
  .films {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 350px) {
  .films {
    grid-template-columns: repeat(1, 1fr);
  }
}
