.actors{
  & h2{
    margin-left: 15px;
  }
  &__container {
    //overflow-x: scroll;
    width: 100%;
    padding-bottom: 40px;
  }
  &__wrap {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  &__item {
    width: 240px;
    margin: 0 10px;
    height: auto;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  &__info {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    & p{
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
  &__photo {
    width: 100%;
    height: auto;
  }
}
