/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.similar-movie {
  & a {
    text-decoration: none;
    color: white;
  }

  &__container {
    overflow-x: scroll;
    width: 100%;
    padding-bottom: 40px;
  }

  &__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
  }

  &__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    //max-width: 190px;
    //min-width: 190px;
    width: 100%;
    height: auto;
    text-align: center;
    //margin-right: 10px;
    //margin-left: 10px;

    & h3 {
      font-size: clamp(13px, 2vw, 20px);
      margin-top: 10px;
    }
  }

  &__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
    font-size: clamp(12px, 2vw, 16px);

    & .MuiSvgIcon-root {
      font-size: 18px;
      margin-right: 5px;

      &:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
}
