.similar-movie{
  & h2{
    margin-left: 15px;
  }
  & a {
    text-decoration: none;
    color: white;
  }
  &__container {
    overflow-x: scroll;
    width: 100%;
    padding-bottom: 40px;
  }
  &__wrap {
    display: flex;
    margin-top: 40px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    max-width: 190px;
    min-width: 190px;
    width: 100%;
    height: auto;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    & h3{
      margin-top: 10px;
    }
  }
  &__stats {
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    margin-top: 10px;
    & .MuiSvgIcon-root {
      font-size: 18px;
      margin-right: 5px;
      &:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
}
